@import "nullstyle.scss";

html {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

$height_blue_line: 300px;
$top_categories_duration: 1s;
$bottom_categories_duration: 1.5s;

body {
  font-size: 16px;

  height: 100%;
	background-color: #F9F9F9;
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
		@import "header.scss";
		.main {
      flex: 1 1 auto;
			@import "subcategory.scss";
      .swiper__content {
        .swiper {
          width: 100%;
          height: 704px;
          .swiper-wrapper {
            .swiper-slide {
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
      
          .swiper-pagination {
            .swiper-pagination-bullet {
              background-color:#F9F9F9;
              transition: all 0.3s;
              margin-bottom: 10px;
      
              height: 10px;
              width: 10px;
      
              opacity: 60%;
      
              &.swiper-pagination-bullet-active {
                background-color: white;
                width: 35px;
                border-radius: 5px;
                opacity: 100%;
              }
            }
          }
      
          .swiper-button-prev,
          .swiper-button-next {
            color: white;
            margin-left: 15px;
            margin-right: 15px;
          }

          @media (max-width: 768px) {
            .swiper-button-prev,
            .swiper-button-next {
              display: none;
            }
          }
        }
      }

      .navbar__bottom {
        background-color: black;
        color: white;

        height: 45px;

        font-size: 12px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 1325px) {
          font-size: 10px;
        }

        @media (max-width: 1024px) {
          font-size: 10px;
          height: 80px;

          @media (max-width: 768px) {
            display: none;
          }  

          .navbar__info {
            display: flex;
            flex-direction: row;
            .navbar__info_text {
              display: flex;
              flex-direction: column;
            }
          }
        }
        
        .navbar__info {
          .navbar__info_text {
            
            font-weight: bolder;

            >span {
              font-weight: normal;
            }

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }

        .navbar__social {
          display: flex;
          align-items: center;

          img {
            margin-right: 15px;
            cursor: pointer;
          }
        }

        .navbar__offerta {
          font-weight: lighter;
        }
      }

      .categories {
        .categories__container {

          display: flex;
          align-items: center;
          height: 650px;

          position: relative;

          .categories__offer {
            width: 50%;
            height: $height_blue_line;

            color: white;

            position: relative;
            .categories__offer_container {
              width: 90%;
              height: $height_blue_line;

              padding: 50px;

              font-size: 18px;

              h3 {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 30px;
              }
            }
          }

          .categories__list {
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            justify-content: space-between;
            align-content: space-between;

            width: 240px * 2;
            height: 240px * 2;

            position: relative;

            .categories__category {
              cursor: pointer;

              transition: all 0.4s;
              transition-duration: 1s;

              position: relative;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;

              background-color: #FFB359;
              color: white;

              width: 200px;
              height: 200px;

              text-align: center;
              text-transform: uppercase;
              font-size: 20px;

              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

              .categories__subcategories {
                display: none;
                flex-direction: column;
                flex-wrap: wrap;

                width: 100%;
                height: 100%;

                padding: 10px;

                z-index: 0;

                .categories__subcategory {
                  display: flex;

                  width: 90px;
                  height: 90px;

                  transition: 0.4s all;
                  
                  a {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 14px;
                    color: white;
                  }

                  &:hover {
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                  }
                }

                &#id4 {
                  justify-content: space-between;
                  align-content: space-between;
                }

                &#id2 {
                  justify-content: space-between;
                  align-items: center;

                  .categories__subcategory {
                    width: 100%;

                    a {
                      font-size: 16px;
                    }
                  }
                }
              }

              .categories__category_logo {
                width: 100px;
                height: 100px;
              }

              .categories__category_title,
              .categories__category_logo {
                pointer-events: none;
              }

              &:hover {
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.60);
                @media (min-width: 1024px) {
                  .categories__category_logo, .categories__category_title {
                    display: none;
                  }

                  .categories__subcategories {
                    display: flex;
                  }
                }
              }

              @media (max-width: 1024px) {
                &._active {
                  .categories__category_logo, .categories__category_title {
                    display: none;
                  }

                  .categories__subcategories {
                    display: flex;
                  }
                }
              }
              
              @media (min-width: 768px) {
                opacity: 0;
                // start position for animation
                &:nth-child(1) {
                  transform: translate(-100px, -100px) rotate(-45deg);
                  transition-duration: $top_categories_duration;
                }
                &:nth-child(2) {
                  transform: translate(-100px, 100px) rotate(45deg);
                  transition-duration: $bottom_categories_duration;
                }
                &:nth-child(3) {
                  transform: translate(100px, -100px) rotate(45deg);
                  transition-duration: $top_categories_duration;
                }
                &:nth-child(4) {
                  transform: translate(100px, 100px) rotate(-45deg);
                  transition-duration: $bottom_categories_duration;
                }
              }
            }

            &._active {
              .categories__category {
                transform: rotate(0);
                opacity: 100%;
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: -50px;
              right: -30px;

              width: 430px;
              height: 280px;

              background-color: #58A5CE;
            }
          }

          &::before {
            content: '';
            position: absolute;

            width: 100%;
            height: $height_blue_line;

            z-index: -1;

            background-color: #3E7FA2;

            transform: scaleX(0%);
            transition-duration: 1s;
          }

          &._active::before {
            transform: scaleX(100%);
          }

          @media (max-width: 1210px) {

            &::before,
            .categories__offer_container,
            .categories__offer {
              height: 350px;
            }
          }

          @media (min-width: 768px) and (max-width: 1024px) {
            &::before {
              width: 90%;
              left: 0;
            }

            &::before,
            .categories__offer_container,
            .categories__offer {
              height: 260px;
            }

            .categories__offer {
              width: 100%;

              .categories__offer_container {
                width: 90%;
              }
            }

            .categories__list {
              margin-left: 120px;
            }

            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;

            height: 800px;

            margin-top: 100px;
          }
        }

        @media (max-width: 768px) {
          .categories__container {
            flex-direction: column-reverse;
            height: 100%;
            .categories__offer {

              z-index: -2;
              width: 100%;
              background-color: transparent;

              .categories__offer_container {
                width: 100%;
                height: $height_blue_line;
                background-color: #3E7FA2;

                font-size: 16px;
              }
            }

            &._active::before {
              transition-duration: 0s;
              background-color: transparent;
            }

            .categories__list {
              height: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
              flex-wrap: nowrap;

              .categories__category {
                margin: 40px 0 40px 0;
              }

              &::before {
                top: 150px;
                margin-left: calc(50% - 50vw);

                height: 200px;
                width: 500%;
              }

              &::after {
                content: '';

                position: absolute;

                top: 750px;

                width: 100%;

                height: 200px;

                z-index: -1;

                background-color: #58A5CE;

                transform: rotate(25deg) translate(-100px, 0) scaleX(2.5);
              }
            }
          }
        }
      }

      .presentation {
        display: flex;
        flex-direction: column;

        .presentation__logo { display: none; }

        .presentation__container {
          .presentation__work_examples {
            position: relative;

            height: 600px;
            width: 100%;
            
            display: flex;
            justify-content: center;

            $img_height: 100%;
            $img_width: 700px;
            $img_margin: 15px;
            .presentation__work_example#id1 {
              img#id1 {
                margin-right: $img_margin;
                width: $img_width / 2.5;
                height: $img_height;
              }
            }

            .presentation__work_example#id2 {
              .presentation__work_example#id3 {
                height: 50%;
                img#id2 {
                  margin-right: $img_margin;
                  width: $img_width * 0.4;
                  height: $img_height;
                }

                img#id3 {
                  width: $img_width * 0.6;
                  height: $img_height;
                }

                padding-bottom: $img_margin;
              }

              .presentation__work_example#id4 {
                height: 50%;
                img#id4 {
                  margin-right: $img_margin;
                  width: $img_width * 0.7;
                  height: $img_height;
                }

                img#id5 {
                  width: $img_width * 0.3;
                  height: $img_height;
                }
              }
            }
            &::before {
              content: 'Lusso';

              color: white;

              font-style: italic;
              font-weight: bolder;
              font-size: 60px;

              text-transform: uppercase;

              display: flex;
              align-items: center;
              justify-content: center;

              position: absolute;
              top: 30%;

              width: 380px;
              height: 200px;

              background-color: rgba(183, 156, 156, .9);

              border-radius: 13px;
            }
          }
        
          .partners {
            width: 1014px;
            margin: 0 auto;
            background-color: #FFBB6B;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            padding: 10px 0 10px 0;

            img {
              width: 15%;
              height: 15%;
            }
          }
        }

        @media (max-width: 1024px) {
          margin-top: 30px;

          flex-wrap: nowrap;
          position: relative;
          .presentation__logo {
            content: 'Lusso';

            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;

            color: white;

            font-style: italic;
            font-weight: bolder;
            font-size: 60px;

            text-transform: uppercase;

            position: absolute;
            top: 23%;

            width: 380px;
            height: 200px;

            background-color: rgba(183, 156, 156, .9);

            border-radius: 13px;

            z-index: 1;
          }

          .presentation__container {
            width: 400%;
            .presentation__work_examples {              
              display: flex;
              justify-content: flex-start;

              width: 100%;
  
              $img_height: 100%;
              $img_width: 700px;
              $img_margin: 15px;
              .presentation__work_example#id1 {
                img#id1 {
                  margin-right: $img_margin;
                  width: $img_width / 2.5;
                  height: $img_height;
                }
              }
  
              .presentation__work_example#id2 {
                .presentation__work_example#id3 {
                  height: 50%;
                  img#id2 {
                    margin-right: $img_margin;
                    width: $img_width * 0.4;
                    height: $img_height;
                  }
  
                  img#id3 {
                    width: $img_width * 0.6;
                    height: $img_height;
                  }
  
                  padding-bottom: $img_margin;
                }
  
                .presentation__work_example#id4 {
                  height: 50%;
                  img#id4 {
                    margin-right: $img_margin;
                    width: $img_width * 0.7;
                    height: $img_height;
                  }
  
                  img#id5 {
                    width: $img_width * 0.3;
                    height: $img_height;
                  }
                }
              }

              &::before {
                display: none;
              }
            }
          
            .partners {
              width: 25%;
              min-height: 100px;
              margin: 0;
              background-color: #FFBB6B;

              display: flex;
              justify-content: space-evenly;
              align-items: center;

              padding: 10px 0 10px 0;

              img {
                width: 15%;
                height: 15%;
              
                @media (max-width: 660px) {
                  width: 20%;
                  height: 20%;
                }
              }
            }
          }
        }
      }

      .contacts {
        margin: 50px 0 100px 0;

        width: 100%;

        position: relative;

        .contacts__header {
          text-align: center;
          text-transform: uppercase;
          font-size: 22px;
          font-weight: normal;

          margin-bottom: 20px;
        }

        .contacts__container_wrapper {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .contacts__container {
            width: 90%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            
            .contacts__links {
              transition-duration: 1s;
              transform: translateX(-120%);
              opacity: 0;

              display: grid;
              grid-template-columns: 1fr 1fr;

              background-color: white;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

              margin-bottom: 0px;
              .contacts__contact {
                $contact_size: 300px;
                width: $contact_size;
                height: $contact_size;

                text-align: center;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                transition: 0.4s all;

                .contacts__contact_header_logo {
                  .contacts__contact_logo {
                    $img_size: 64px;
                    width: $img_size;
                    height: $img_size;
                    margin-bottom: 7px;
                  }

                  h3 {
                    cursor: default;
                    text-align: center;
                    color: #FFB359;

                    font-size: 28px;
                    text-transform: uppercase;
                  }
                }

                .contacts__phones {
                  p:first-child {
                    margin-bottom: 10px;
                  }
                }

                p, span {
                  font-size: 16px;
                }

                .contacts__social_container {
                  width: 100%;

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-evenly;

                  img {
                    cursor: pointer;
                  }
                }

                &:hover {
                  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
                }
              }

              &._active {
                transform: translateX(0);
                opacity: 100%;
              }
            }

            .contacts__map {
              width: 100%;
              height: 600px;

              opacity: 0;
              transition-duration: 1.5s;
              transform: translateX(120%);

              margin-left: 30px;

              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

              &._active {
                opacity: 100%;
                transform: translate(0);
              }
            }
          }

          @media (max-width: 1350px) {
            justify-content: center;
            .contacts__container {
              flex-direction: column;
              align-items: center;

              width: 100%;
              .contacts__links {
                margin-bottom: 70px;
                .contacts__contact {
                  $contact_size: 250px;
                  width: $contact_size;
                  height: $contact_size;
                  .contacts__contact_header_logo {
                    h3 {
                      font-size: 22px;
                    }
                  }
                }
              }

              .contacts__map {
                margin-left: 0;
              }
            }
          }
        }

        &::before {
          content: '';

          position: absolute;
          top: 75%;

          width: 100%;
          height: 200px;

          background-color: #43895F;
          
          z-index: -1;

          @media (max-width: 1350px) {
            top: 32%;
            
          }
        }
      }
    }
    .footer {
      background-color: black;
      color: white;

      width: 100%;

      padding: 20px 0 20px 0;

      font-size: 16px;

      .footer__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .footer__logo {
          width: 230px;
          height: 180px;
          border: 1px solid #FFB359;
  
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
  
          padding: 0 10px 10px 0;
        }

        .footer__list {
          padding-top: 20px;
          margin-right: 15px;
          h3 {
            font-size: 18px;
            font-weight: bolder;
            margin-bottom: 12px;
          }

          .footer__contacts_social {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              cursor: pointer;
            }
          }

          li:not(:last-child) {
            margin-bottom: 10px;
          }

          &#id1 {
            li {
              font-weight: bolder;
              span {
                font-weight: normal;
              }
            }
          }
        }

        .footer__about_us {
          text-align: center;

          width: 290px;

          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }

      @media (max-width: 728px) {
        .footer__info {
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
        
          .footer__list {
            margin: 20px 0 20px 0;

            text-align: center;

            .footer__contacts_social {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}